@model EntityLayer.Concrete.Contact
@{
    ViewBag.Title = "MessageDetalis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!DOCTYPE html>
<style>
    .fontBold {
        font-family: 'Martel', serif;
        font-weight: 800;
    }
</style>
<html>

<body class="hold-transition sidebar-mini">



    <!-- Content Header (Page header) -->

    <section class="content-header">

        <div class="container-fluid">

            <div class="row mb-2 text-center">

                <div class="col-sm-6 mx-auto">

                    <h1 class="fontBold">Mesaj Detayları</h1>

                </div>



            </div>

        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">


                <!-- /.col -->

                <div class="col-md-12">

                    <div class="card card-primary card-outline">

                        <div class="card-header">

                            <h3 class="card-title">Mesaj Detayları</h3>

                            <div class="card-tools">

                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>

                                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>

                            </div>

                        </div>

                        <!-- /.card-header -->

                        <div class="card-body p-0">

                            <div class="mailbox-read-info">

                                <h5>Gönderen: @Model.Name @Model.Surname</h5>
                                <br />
                                <h6>

                                     @Model.Mail

                                    <span class="mailbox-read-time float-right">@(((DateTime)Model.ContactDate).ToString("dd-MMM-yyyy"))</span>

                                </h6>

                            </div>

                            <!-- /.mailbox-read-info -->

                        

                            <!-- /.mailbox-controls -->

                            <div class="mailbox-read-message">                         

                                <p>
                                   @Model.Message
                                </p>

                            </div>

                            <!-- /.mailbox-read-message -->

                        </div>

                        <!-- /.card-body -->

                   
                        <!-- /.card-footer -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div>

    </section>

</body>

</html>
