@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .newBlogAddButton {
        background-image: linear-gradient(to left bottom,rgba(29, 179, 206, 0.8),rgb(151, 186, 224));
    }

    .fontBold {
        font-family: 'Martel', serif;
        font-weight: 800;
    }
</style>

@using (Html.BeginForm("AddNewBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data", @class = " py-3 " }))
{

    <div class="form-group col-8">
        @Html.Label("Başlık", new { @class = "fontBold" })
        @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group col-8">
        @Html.Label("Kategori", new { @class = "fontBold" })
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })*@
    </div>
    <div class="form-group col-8">
        @Html.Label("Kapak Resmi", new { @class = "fontBold" })
        <br />
        <input type="file" name="BlogCoverImage" />
        @Html.ValidationMessageFor(x => x.BlogCoverImage, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-8">
        @Html.Label("Yazar", new { @class = "fontBold" })
        @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.authors, "Yazar Seçiniz", new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.AuthorID, "", new { @class = "text-danger" })*@

    </div>
        <div class="form-group col-10">
            @Html.Label("İçerik", new { @class = "fontBold" })
            @Html.TextAreaFor(x => x.BlogContent, 10, 40, new { @class = "form-control",id="summernote" })
            @Html.ValidationMessageFor(x => x.BlogContent, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-primary newBlogAddButton px-3 fontBold">Ekle</button>

   
}

    

